<!DOCTYPE html>
<html>
<head>
  <title>Magic link</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "magic/link/application", media: "all" %>
  <%= javascript_include_tag "magic/link/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
